In [60]:
import pandas as pd

In [61]:
df= pd.read_csv('Breast_Cancer.csv')

In [62]:
df

,Age,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
1,50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
2,58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
3,58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
4,47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,62,Other,Married,T1,N1,IIA,Moderately differentiated,2,Regional,9,Positive,Positive,1,1,49,Alive
4020,56,White,Divorced,T2,N2,IIIA,Moderately differentiated,2,Regional,46,Positive,Positive,14,8,69,Alive
4021,68,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,22,Positive,Negative,11,3,69,Alive
4022,58,Black,Divorced,T2,N1,IIB,Moderately differentiated,2,Regional,44,Positive,Positive,11,1,72,Alive
4023,46,White,Married,T2,N1,IIB,Moderately differentiated,2,Regional,30,Positive,Positive,7,2,100,Alive

In [63]:
df.corr()

,Age,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
Age,1.000000,-0.077215,-0.033345,0.012586,-0.009390
Tumor Size,-0.077215,1.000000,0.104352,0.242322,-0.086901
Regional Node Examined,-0.033345,0.104352,1.000000,0.411580,-0.022054
Reginol Node Positive,0.012586,0.242322,0.411580,1.000000,-0.135214
Survival Months,-0.009390,-0.086901,-0.022054,-0.135214,1.000000

In [64]:
df.isnull().sum()

Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64

In [65]:
df.columns

Index(['Age', 'Race', 'Marital Status', 'T Stage ', 'N Stage', '6th Stage',
       'differentiate', 'Grade', 'A Stage', 'Tumor Size', 'Estrogen Status',
       'Progesterone Status', 'Regional Node Examined',
       'Reginol Node Positive', 'Survival Months', 'Status'],
      dtype='object')

In [66]:
df['Status'].value_counts()

Alive    3408
Dead      616
Name: Status, dtype: int64

In [67]:
df.replace({'Marital Status': {'Married': 0, 'Single ': 1, 'Divorced': 2, 'Widowed': 3, 'Separated': 4}}, inplace=True)
df.replace({'T Stage ': {'T1': 0, 'T2': 1, 'T3': 2, 'T4': 3}}, inplace=True)
df.replace({'Race': {'White': 0, 'Black': 1, 'Other': 2}}, inplace=True)
df.replace({'Status': {'Alive': 0, 'Dead': 1}}, inplace=True)

In [68]:
y = df.Status

In [69]:
x = df[['Age','Marital Status','T Stage ','Race','Tumor Size','Survival Months']]

In [70]:
x.isnull().sum()

Age                0
Marital Status     0
T Stage            0
Race               0
Tumor Size         0
Survival Months    0
dtype: int64

In [71]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

## Random Forest

In [72]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [73]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [75]:
y_predict = model.predict(X_test)

In [76]:
from sklearn.metrics import classification_report, accuracy_score

In [77]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.90      0.97      0.94      1011
           1       0.78      0.47      0.58       197

    accuracy                           0.89      1208
   macro avg       0.84      0.72      0.76      1208
weighted avg       0.88      0.89      0.88      1208

In [78]:
print(accuracy_score(y_test, y_predict))

0.8915562913907285

## Logistic Regression

In [82]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [83]:
model.fit(X_train, y_train)

LogisticRegression()

In [84]:
y_predict = model.predict(X_test)

In [85]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.88      0.99      0.93      1011
           1       0.89      0.33      0.48       197

    accuracy                           0.88      1208
   macro avg       0.89      0.66      0.71      1208
weighted avg       0.88      0.88      0.86      1208

In [86]:
print(accuracy_score(y_test, y_predict))

0.8841059602649006