In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('titanic.csv')

In [8]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
y =df.Survived

In [11]:
len(y)

418

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [13]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [26]:
df.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.023245,-0.026751,-0.034102,0.003818,0.043080,0.008211
Survived,-0.023245,1.000000,-0.108615,-0.000013,0.099943,0.159120,0.191514
Pclass,-0.026751,-0.108615,1.000000,-0.492143,0.001087,0.018721,-0.577147
Age,-0.034102,-0.000013,-0.492143,1.000000,-0.091587,-0.061249,0.337932
SibSp,0.003818,0.099943,0.001087,-0.091587,1.000000,0.306895,0.171539
Parch,0.043080,0.159120,0.018721,-0.061249,0.306895,1.000000,0.230046
Fare,0.008211,0.191514,-0.577147,0.337932,0.171539,0.230046,1.000000

In [15]:
x = df[['Pclass','SibSp','Parch','Fare']]

In [18]:
x.isnull().sum()

Pclass    0
SibSp     0
Parch     0
Fare      1
dtype: int64

In [19]:
x = x.fillna(0)

In [20]:
x.isnull().sum()

Pclass    0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [23]:
len(X_train)

334

In [24]:
len(X_test)

84

## Random Forest

In [28]:
## model building
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()

In [29]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [32]:
y_predict = model.predict(X_test)

In [33]:
y_test

134    0
118    0
322    0
164    0
140    1
      ..
67     0
160    1
70     1
39     0
109    0
Name: Survived, Length: 84, dtype: int64

In [34]:
y_predict

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [35]:
from sklearn.metrics import classification_report, accuracy_score

In [36]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.71      0.85      0.77        54
           1       0.58      0.37      0.45        30

    accuracy                           0.68        84
   macro avg       0.64      0.61      0.61        84
weighted avg       0.66      0.68      0.66        84

In [37]:
accuracy_score(y_test, y_predict)

0.6785714285714286

## Logistic Regression

In [38]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [39]:
model.fit(X_train, y_train)

LogisticRegression()

In [40]:
y_predict = model.predict(X_test)

In [41]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.67      0.94      0.78        54
           1       0.62      0.17      0.26        30

    accuracy                           0.67        84
   macro avg       0.65      0.56      0.52        84
weighted avg       0.65      0.67      0.60        84

In [42]:
accuracy_score(y_test, y_predict)

0.6666666666666666

## Support Vector Machine

In [44]:
from sklearn.svm import SVC
model = SVC()

In [45]:
model.fit(X_train, y_train)

SVC()

In [46]:
y_predict = model.predict(X_test)

In [47]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       0.67      0.89      0.76        54
           1       0.50      0.20      0.29        30

    accuracy                           0.64        84
   macro avg       0.58      0.54      0.52        84
weighted avg       0.61      0.64      0.59        84

In [48]:
accuracy_score(y_test, y_predict)

0.6428571428571429